.floatingNumber {
	position: absolute;
	animation: float 1s ease-in-out forwards;
	font-size: 20px;
	color: red;
}

@keyframes float {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}
